extends layout

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${store.photo}`)
      h2.title.title--single
       a= store.name
    .inner.single__details

      .single__maps
        //- TODO: A map
      .single__location= (store.location && store.location.address)

      p= store.description

      - tags = store.tags || []
      ul.tags
        each tag in tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text=tag

      - loggedIn = false
      .review__prompt
        if loggedIn
          //- TODO: review form
        else
          p
            | Love this place?
            |
            a(href="/login") Login
            |
            | to leave a review

      - const reviews = [{ author: { name: "Someone", avatar: "0d3624fc-78ee-4297-8d15-e191b9775520.jpeg" }, stars: 4, created: new Date(), text: "Good stuff" }]
      each review in reviews
        .review
          .review__header
            .review__author
              img.avatar(src=`/uploads/${review.author.avatar}` alt=review.author.name)
              span= review.author.name
            //- TODO: star icons
            .review__stars= `${review.stars}/5 stars`
            .review__time= h.moment(review.created).fromNow()
          .review__body= review.text
